body {
  background-color: rgba(255, 255, 255, 1);
}
header {
  height: 30rem;

  background: radial-gradient(
    70.4% 70.4% at 3.82% 2.39%,
    #13033f 0%,
    #090319 100%
  );
}
.mainlogo {
  width: 10rem;
}
/* for mobile view  */
@media only screen and (max-device-width: 768px) {
  header h1 {
    color: white;
    position: relative;
    left: 3rem;
    top: 3rem;
    font-size: 60px;
    width: 70%;
  }

  /* these styles are for the download resource page.... mobile view  */
  .card-wrapper {
    background-color: #ffffff;
    margin: 2rem;
    /* height: 15rem; */
    padding: 1rem;
    /* 
    display: flex;
    flex-direction: column;
    justify-content: center; */
    /* width: 13rem; */
  }
  .create-info-wrapper .row {
    display: flex;
    justify-content: center;
  }
}

/* for desktop view  */
@media only screen and (min-device-width: 768px) {
  header h1 {
    color: white;
    position: relative;
    left: 3rem;
    top: 3rem;
    font-size: 70px;
    width: 50%;
  }
  /* these styles are for the download resource page.... desktop view  */
  .card-wrapper {
    background-color: #ffffff;
    margin: 2rem;
    height: 15rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 13rem;
  }
  .create-info-wrapper .row {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
  }
}

/* media query ends here  */
.create-info-wrapper {
  position: relative;
  bottom: 10rem;
  background-color: #f2f2f2;
  margin: 1rem;
  padding: 3rem;
  border-radius: 40px;
}

.create-info-wrapper div {
  margin: 0.2rem 0;
}

/* these styles are for the download resource page.... general  */

.card-wrapper {
  transition: all ease 0.3s;
}
.card-wrapper:hover {
  background-color: #d7d7d7;
}
.create-info-wrapper .row .create-info-wrapper {
  /* margin: 2rem; */
}
.card-wrapper h3 {
  font-size: 100%;
}
.card-wrapper img {
  width: 40px;
  padding-bottom: 3rem;
}

.form-label {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
