/* desktop view  */

@media only screen and (min-device-width: 768px) /* and (max-device-width: 1024px) */ /* and (orientation: portrait) */ {
  .image-container {
    position: absolute;
    top: 10rem;
    left: 50rem;
    height: 80rem;
    padding-left: 10rem;
  }
  header {
    height: 45rem;
    position: relative;
  }
  .text-container {
    position: absolute;
    bottom: 10rem;
  }
  .text-container h3,
  button {
    font-size: 60px;
    font-weight: bold;
    position: relative;
    left: 4rem;
  }

  /* section 2 view for desktop  */
  .about-section-2 {
    height: 45rem;
  }
  .about-section-2 .row {
    padding: 2rem 6rem;
  }
  .about-section-2 h3 {
    font-size: 700%;
    font-weight: bold;
  }
  .about-section-2 p {
    width: 40%;
    text-align: start;
    font-size: 30px;
    font-weight: 500;
    color: black;
  }
  /* section 3 desktop view  */
  .about-section-3 .row {
    padding: 2rem 6rem;
  }
  .about-section-3 h3 {
    font-size: 300%;
  }
  .about-section-3 p {
    font-size: 150%;
  }

  /* services page styles for desktop view below  */

  .block1 h3 {
    font-weight: bold;
    font-size: 50px;
    width: 20rem;
  }

  .services-header {
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
  }

  .items img {
    width: 2rem;
  }
  .arrows {
    width: 4rem;
    padding: 1rem;
  }

  /* 
  *
  * market page css for desktop view
  * 
  */
}
/* media query for desktop ends above  */

/* ***
*
* 
*
* ***/

/* for mobile view  */
@media only screen and (max-device-width: 768px) /* and (max-device-width: 1024px) */ /* and (orientation: portrait) */ {
  header {
    height: 25rem;
  }
  .image-container {
    display: none;
  }
  .text-container {
    height: 20rem;
  }
  .image-container img {
    display: none;
  }
  .text-container .text-light {
    font-size: 40px;
    padding-top: 6rem;
  }

  /* section 2 mobile styles  */
  .icon-div img {
    width: 1rem;
  }
  /* .icon-div ul {
  }
  .icon-div ul li {
  } */
  .icon-div ul span {
    font-size: 10px;
  }
  .about-section-2 {
    height: 20rem;
  }
  .about-section-2 h3 {
    font-size: 300%;
  }
  .about-section-2 p {
    width: 100%;
    color: black;
  }

  /* section 3 desktop view  */
  /* .section-3 {
   
  } */
  .about-section-3 h3 {
    font-size: 200%;
  }
  .about-section-3 p {
    font-size: 80%;
    text-align: left;
  }

  /* 
  *
  * sevices page css for mobile view
  * 
  */

  .services-header {
    background-size: cover;
    background-attachment: scroll;

    padding-bottom: 11rem;
    /* width: 10px; */
    height: 5rem;
  }

  .block1 h3 {
    font-weight: bold;
    font-size: 50px;
    width: 100%;
  }

  .items img {
    width: 1rem;
  }
  .arrows {
    width: 3rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  /* 
  *
  * market page css for mobile view
  * 
  */
}

/* media query for mobile ends above */

/* general styles  */
/* .text-container {
} */
.text-container h3 {
  font-size: 80px;
  font-weight: bold;
}
.image-container {
  display: flex;
}

/* section 2  */
.about-section-2 {
  display: flex;
  justify-content: center;
  padding-left: 3rem;
}

.section-2-inner {
  width: 100%;
}

.section-2-left-wrapper {
  width: 100%;
}
.icon-div {
  width: 100%;
  margin: 0 0;
  padding: 0;
}
.icon-div img {
  width: 1.5rem;
}
.icon-div ul {
  display: flex;
  width: 100%;
  justify-items: left;
  margin: 0 0;
  padding-left: 0;
}
.icon-div ul li {
  margin: 0 0.1rem;
}
.icon-div ul span {
  color: black;
  margin: 0 0.5rem;
}

/* section 3   */
.about-section-3 {
  display: flex;
  justify-content: center;
  margin: 10rem 0;
}
.about-section-3 h3,
p {
  color: aliceblue;
}
/* .about-section-3 h3 {
  font-size: 300%;
}
.about-section-3 p {
} */
.about-section-3 .content-wrapper {
  background: rgba(9, 3, 25, 1);
  border-radius: 12px;
}
.about-section-3 .content-box {
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* services pages css  */

.services-header {
  background-image: url("../images/service-banner.png");
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  width: 100%;
  /* background-size: cover; */
}
/* .items img {

}
this is edited at the idividual media queries
.arrows {

} */

.section-3 p {
  color: black;
}

/* .block1 h3 {
   this tag has its styles edited in the media query
} */

/* market page css  */
